.btn {
    display: block;
    height: 30px;
    padding: 0 10px;
    background-color: skyblue;
    color: black;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
    margin: 6px;
}