#LoadingForInsurance {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0);
  .panel-container {
    min-width: 2rem;
    height: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 998;
    background: #000;
    opacity: 1;
    border-radius: 0.04rem;
    .zhen {
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      background: url("//j2.autoimg.cn/financedfs/g27/M0B/F8/8B/autohomecar__ChcCQFzk7KSAb3x0AAAIZ0JD7Ss689.png") no-repeat left;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      position: fixed;
      top: -0.7rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-animation: rotate 2s linear infinite;
      -o-animation: rotate 2s linear infinite;
      animation: rotate 2s linear infinite;
    }
    .describe {
      display: block;
      height: 0.6rem;
      line-height: 0.6rem;
      color: #FFffff;
      text-align: center;
      width: 100%;
      color: #fff;
      position: fixed;
      font-size: 0.28rem;
      bottom: 0.2rem;
    }
  }

}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);

  }
}