#Avatar {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}